<div class="container">
  <app-navbar></app-navbar>
  <div class="columns">
    <section class="section column">
      <h1 class="title">Venda interna</h1>
      <h2 class="subtitle">
        Um simples aplicativo web para gerênciar vendas internas de sua empresa!
      </h2>
    </section>

    <section *ngIf="isUserLoggedIn" class="section column">
      <app-login></app-login>
    </section>
  </div>

  <section class="section">
    <div class="container">
      <app-campaign-showcase></app-campaign-showcase>
    </div>
  </section>
</div>
